body
{
	border: 0;
	margin: 0;
	padding: 0;
	min-height: 100vh;
}

h1
{
	margin-top: 0;
}

video
{
	display: none;
}

#document-section, #document-canvas-container, #document-canvas
{
	height: 100%;
}

canvas
{
	border: 2px solid black;
}
