body
{
	border: 0;
	margin: 0;
	padding: 0;
	min-height: 100vh;
	background-color: black;
	color: white;
}

h1
{
	margin-top: 0;
}

video
{
	display: none;
}

#document-section, #document-canvas-container, #document-canvas,
#selfie-section, #selfie-canvas-container, #selfie-canvas
{
	height: 100%;
}

canvas
{
	border: 2px solid black;
}

button
{
	padding: 0.5rem;
	margin: 0.5rem;
	font-size: 1rem;
	background-color: white;
	color: black;
	border: 0;
	border-radius: 0.3rem;
}
